body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 80%;
  margin: auto;
}

.main-hero-secton{
  background-image: url(./image/coffee_bg.jpg);
}

.menu ul{
  list-style: none;
  cursor: pointer;
}

.menu ul li {
  padding-right: 2rem;
  font-size: 23px;
  font-weight: 600;
  font-family: Oswald;
  color: #e7a261;
}
.logo img{
  width: 100px;
  height: 100px;
}