body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 80%;
  margin: auto;
}

.main-hero-secton{
  background-image: url(./image/coffee_bg.jpg);
  background-position: bottom;
}

.sticky{
  position: fixed;
  top: 0;
  margin: auto;
}

.menu ul{
  list-style: none;
  cursor: pointer;
}

.menu ul li {
  margin-right: 2rem;
  font-size: 23px;
  font-weight: 600;
  font-family: Oswald;
  color: #e7a261;
}

.m-style{
  position: relative;
  display: inline;
  overflow: hidden;
}

.m-style::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.m-style:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.logo img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.heading{
  padding: 2rem 0 2rem 0;
}

.button{
  text-align: center;
}

.our-offer{
  font-family: Oswald;
  color: #e7a261;
  line-height: 60px;
  letter-spacing: 3px;
  font-size: 20px;
  border-color: #e7a261;
  border-style: solid;
  border-width: 1px;
  padding-left: 60px;
  border-radius: 30px;
  padding-right: 60px;
  background-color: rgba(0, 0, 0, 0);
}
.our-offer:hover{
  color: black;
  background-color: #e7a261;
  transition: .2s
}